body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

.profile-img {
    width: 150px; /* ขนาดรูปโปรไฟล์ */
    height: 150px;
    border-radius: 50%; /* ทำให้รูปเป็นวงกลม */
    object-fit: cover; /* ครอบรูปให้พอดีกับกรอบ */
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 10px;
    color: #ffd700;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.about-me, .portfolio, .skills, .contact {
    margin-bottom: 30px;
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.portfolio .project {
    margin-bottom: 20px;
}

.portfolio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.2);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    color: #fff;
}

a {
    color: #4caf50;
}