@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #1f1f1f;
}

.button {
    font-family: 'Inter',sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    transition: color 1.4s ease;
}

.button:hover {
    color:black;
}

@media(max-width:950px){
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .button{
        
        font-size: 20px;
    }
    .menu{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header {
    gap: 40px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.menu{
    display: flex;
    gap: 12px;
    text-align: center;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 200px;
}

.icons{
    font-family: 'Inter',sans-serif;
    display: flex;
    text-align: center;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 200px;
}

.home{
    padding: 60px 9% 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.home-content{
    font-family: 'Inter',sans-serif;
    color: white;
}

.home .home-content h1{
    font-size: 50px;
}

.home .home-content h2{
    font-size: 32px;
    margin-top: -5px;
}

.home .home-content p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#ffffff);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after{
    animation-delay: -5s;
}

@keyframes rotate-border {
    100%{
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
}

.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 120%;
    object-fit: cover;
    border-radius: 100%;
}