@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: #1f1f1f;
}

.button {
    font-family: 'Inter',sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    transition: color 1.4s ease;
}

.button:hover {
    color:black;
}

@media(max-width:950px){
    .header{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .button{
        
        font-size: 20px;
    }
    .menu{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.menu{
    display: flex;
    gap: 12px;
    text-align: center;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 200px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .home-content{
        font-family: 'Inter',sans-serif;
        color: white;
        h1{
            font-size: 50px;
        }
        h2{
            font-size: 45px;
            margin-top: -10px;
        }
        p{
            font-size: 16px;
            margin: 10px 0 25px;
        }
    }
}

.home-img{
        width: 32vw;
        height: 32vw;
        border-radius: 50%;
        overflow: hidden;
}
.home-img .img-box .img-item{
        background-color: blue;
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        justify-content: center;
}
.home-img .img-box .img-item img{
        position: absolute;
        display: block;
        width: 100%;
        object-fit: cover;
}