.about {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    display: flex;
    overflow:visible;
    background: linear-gradient(270deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
}

@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    25%{background-position:50% 50%}
    50%{background-position:100% 50%}
    75%{background-position:50% 50%}
    100%{background-position:0% 50%}
}

.about-box {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:100px;
    padding-bottom: 30px;
}

.about-img-box {
    justify-self: center;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about-img-container {
    width: 1000px;
    justify-self: center;
    position: relative;
    justify-content: center;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1.5s ease-out;
}


.about-img-container.show {
    opacity: 1;
    transform: translateY(0px);
}

.about-img {
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img .img {
    width: 350px;
    height: 450px;
    border-radius: 5%;
    object-fit: cover;
    justify-content: center;
    justify-self: center; 
}

.shapes {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shapes li {
    position: absolute;
    display: block;
    list-style: none;
    transform: rotate(45deg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
    background: rgba(221, 221, 221, 0.5);
    opacity: 1;
}


.about-text {
    display: block;
    padding-top: 20px;
    padding-left: 350px;
    padding-right: 350px;
    font-family: 'Kanit',sans-serif;
}

.text-header {
    font-size: 48px;
}

.about-text p {
    font-size: 20px;
}

@keyframes moving {
    0% {
        transform: translateY(0) rotate(45deg);
    }
    50% {
        transform: translateY(-30px) rotate(45deg);
    }
    100% {
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes img-moving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}