.header {
    top: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header .header-box {
    display: flex;
    height: 70px;
    min-height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgba(255,255,255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    box-shadow: 5px 5px 20px #cfcfcf,
                -2px -2px 20px #cfcfcf;
    z-index: 1000;
}

.header .header-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative;
    z-index: 1001;
}

.header .header-text {
    font-size: 30px;
    font-weight: bold;
    color: #3d3d3d;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.header .header-text:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: #ffffff;
    text-shadow:
        0 0 5px #1b1b1b,
        0 0 5px #1b1b1b,
        0 0 5px #1b1b1b,
        0 0 5px #1b1b1b;
}

.header .header-link {
    border: none;
    background: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
