.header {
    top: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.header .header-box {
    display: flex;
    height: 70px;
    min-height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: relative;
    background: var(--color-white-800);
    backdrop-filter: blur(var(--blur-sm));
    border-radius: 40px;
    box-shadow: var(--shadow-xl);
    z-index: 1000;
}

.header .header-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative;
    z-index: 1001;
}

.header .header-text {
    font-size: 30px;
    font-weight: bold;
    color: var(--color-gray-700);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    outline: none;
    border-radius: 40px;
    text-shadow: var(--text-shadow-2x);
}

.header .header-text:hover {
    cursor: pointer;
    transform: scale(1.2);
    color: var(--bg-balck);
}