.skill {
    margin-top: 4%;
    width: 100%;
    height: 100;
    justify-content: center;
    justify-items: center;
}

.skill-title {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 54px;
    display: inline-block;
    padding-left: 54px;
    position: relative;
}

.skill-title::before {
    content: "";
    left: 0;
    bottom: 40px;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
}

.container {
    padding: 5%;
    justify-content: center;
    justify-items: center;
    background-color: rgb(2, 2, 2);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    background-color: blue;
    width: 375px;
    height: 200px;
}

@media(max-width : 500px) {
    .container {
        background-color: aqua;
    }
}