.skill {
    width: 100%;
    height: 100;
}

.container {
    padding: 5%;
    justify-content: center;
    justify-items: center;
}

.text {
    font-size: 48px;
    font-weight: 500;
    font-family: "Zalando Sans Expanded", sans-serif;
}