.welcome {
    padding-top: 120px;
    padding-bottom: 200px;
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome .area .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(221, 221, 221, 0.5);
    bottom: -150px;
    animation: animate 25s linear infinite;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation: animate 25s linear infinite;
    animation-delay: 0s;
}
.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation: animate 12s linear infinite;
    animation-delay: 2s;
}
.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation: animate 20s linear infinite;
    animation-delay: 4s;
}
.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation: animate 18s linear infinite;
    animation-delay: 0s;
}
.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation: animate 25s linear infinite;
    animation-delay: 0s;
}
.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation: animate 20s linear infinite;
    animation-delay: 3s;
}
.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation: animate 25s linear infinite;
    animation-delay: 7s;
}
.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation: animate 15s linear infinite;
    animation-delay: 15s;
}
.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation: animate 20s linear infinite;
    animation-delay: 2s;
}
.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation: animate 30s linear infinite;
    animation-delay: 0s;
}

.welcome .welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width:800px;
    text-align: center;
}

.welcome .welcome-text {
    font-weight:300;
    color: black;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
    
}

.welcome .welcome-header {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(270deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 10s ease-in-out infinite;
}

.welcome .transition-text {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 70px;
    min-height: 210px;
    min-width: 500px;
    margin-bottom: -10px;
    background: linear-gradient(270deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 1000% 1000%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 10s ease-in-out infinite;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline: none;
}

@keyframes gradientAnimation {
    0%{background-position:0% 50%}
    25%{background-position:50% 50%}
    50%{background-position:100% 50%}
    75%{background-position:50% 50%}
    100%{background-position:0% 50%}
    
}
.welcome .welcome-contain {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color: black;
    line-height: 1.6;
    margin-top: 20px;
}