.skill {
    padding-top: 4%;
    width: 100%;
    height: 100%;
    justify-content: center;
    justify-items: center;
    background-color: white;
}

.skill-title {
    font-family: "Zalando Sans Expanded", sans-serif;
    font-size: 54px;
    display: inline-block;
    padding-left: 54px;
    position: relative;
}

.skill-title::before {
    content: "";
    left: 0;
    bottom: 40px;
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #000;
}

.container {
    padding: 5%;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    overflow: hidden;
    position: relative;
    width: 270px;
    height: 100px;
    font-family: "kanit";
    font-size: 24px;
    flex-direction: column;
    background-color: var(--color-gray-100);
    color: var(--color-black);
    box-shadow: var(--shadow-sm);
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px;
    transition: all 0.5s ease-in-out
}

.box:hover {
    transform: translateY(-8px);
    box-shadow: var(--shadow-xl);
}

.popup-bg {
    top: 0;
    left: 0;
    padding-top: 10px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: rgba(100, 100, 100, 0.3);
    backdrop-filter: blur(var(--blur-sm));
}

.popup {    
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 650px;
    background: rgba(241, 241, 241, 0.85);
    border-radius: 15px;
    padding: 22px;
    overflow-y: auto;
    box-shadow: var(--shadow-xl);
}

.skill-name {
    font-size: 57px;
    font-family: "Zalando Sans Expanded", sans-serif;
}

.back {
    cursor: pointer;
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--color-neutral-300);
}

@media(max-width : 1200px) {
    .container {
        background-color: aqua;
    }
}

.popup::-webkit-scrollbar {
    width: 0;
}